{% extends "base.html" %}
{% block title %}Zaznamenat zpracování{% endblock %}
{% block content %}
<div class="card">
    <h1>Zaznamenat zpracování</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ order_form.description.id_for_label }}">Popis</label>
        {{ order_form.description }}

        <label for="{{ order_form.hours.id_for_label }}">Moje hodiny</label>
        {{ order_form.hours }}
        {% for error in order_form.hours.errors %}<p class="messages error">{{ error }}</p>{% endfor %}

        <h2>Spolupracovníci</h2>
        {{ worker_formset.management_form }}
        {% for form in worker_formset %}
            <div class="item-row">
                <div>{{ form.user }}</div>
                <div>{{ form.hours }}</div>
            </div>
            {% for error in form.non_field_errors %}<p class="messages error">{{ error }}</p>{% endfor %}
        {% endfor %}

        <h2>Spotřebováno</h2>
        {{ consumed_formset.management_form }}
        {% for form in consumed_formset %}
            <div class="item-row">
                <div>{{ form.material }}</div>
                <div>{{ form.location }}</div>
                <div>{{ form.quantity }}</div>
            </div>
            {% for error in form.non_field_errors %}<p class="messages error">{{ error }}</p>{% endfor %}
        {% endfor %}

        <h2>Vyrobeno</h2>
        {{ produced_formset.management_form }}
        {% for form in produced_formset %}
            <div class="item-row">
                <div>{{ form.material }}</div>
                <div>{{ form.location }}</div>
                <div>{{ form.quantity }}</div>
            </div>
            {% for error in form.non_field_errors %}<p class="messages error">{{ error }}</p>{% endfor %}
        {% endfor %}

        <h2>Použité stroje</h2>
        {{ machine_formset.management_form }}
        {% for form in machine_formset %}
            <div class="item-row">
                <div>{{ form.machine }}</div>
                <div>{{ form.hours }}</div>
            </div>
            {% for error in form.non_field_errors %}<p class="messages error">{{ error }}</p>{% endfor %}
        {% endfor %}

        <button type="submit">Zaznamenat zpracování</button>
    </form>
</div>
{% endblock %}
